/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-ellipsis-2 {
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
